.ph_scale{
      text-transform: uppercase;
      width: 800px;
      margin-left:100px ;
      margin-top: 40px ;
      margin-right:;
    }
#one {
    color: white;
    background-color:rgb(0,102,204 );
}

#two {
    color: white;
    background-color: rgb(26, 117, 207);
}

#three {
    color: white;
    background-color: rgb(42, 121, 201) ;
}

#four {
    color: white;
    background-color: rgb(57, 129, 201);
}

#five {
    color: white;
    background-color: rgb(80, 147, 214);
}

#six {
    color: white;
    background-color:rgb(98, 150, 201);
}

#seven {
    color: white;
    background-color: rgb(107, 159, 211);
}

#eight {
    color: white;
    background-color:rgb(51,153,102) ;
}

#nine {
    color: white;
    background-color:rgb(218, 102, 179);
}

#ten {
    color: white;
    background-color: rgb(202, 88, 164);
}

#eleventh {
    color: white;
    background-color:rgb(201, 81, 161) ;
}

#twelveth {
    color: white;
    background-color: rgb(199, 69, 156);
}

#thirteenth {
    color: white;
    background-color:rgb(202, 43, 149) ;
}

#fourteenth {
    color: white;
    background-color:rgb(192, 27, 137) ;
}

#fifteenth {
    color: white;
    background-color:rgb(153,0,102) ;
}
    
